body
{
    text-align: center;
    background-color: dodgerblue;
    color: white;
}
h1
{
    margin-top: 100px;
    font-size: 3.5rem;
}
.btn
{
    margin-top: 50px;
}
h2
{
    margin-top: 50px;
    font-size: 3.5rem;
    text-align: center;
}